<div class="container">
  <h1 class="my-3" >Restaurants in Canberra</h1>

  <% @restaurants.each do |restaurant| %>
    <h3 class="card p-3 rounded"><%= link_to restaurant.name, restaurant_path(restaurant.id) %></h3>
  <% end %>


</div>
