<nav class="px-4 navbar navbar-light bg-white">
  <%= link_to 'Yelp', restaurants_path, class: "navbar-brand" %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <%= link_to 'New Restaurant', new_restaurant_path, class: 'nav-link' %>
      </li>
    </ul>
</nav>
